.CarEntity{
    width: fit-content;
    margin: 0 auto;
    padding: 15px;
    border-radius: 10px;
    background-color: aliceblue;
}

.InputLabel , .InputFiled{
    width: fit-content;
    margin-right: 0;
}

.Label{
    margin: 0 0 8px 0;
    font-size: 25px;
}

.Mark , .Model , .NumberPlate , 
.FuelType , .Data , .Photo , .FuelTypeLabel , 
.SSChoise{
    font-size: 25px;
    border-radius: 10px;
    margin-right: 0;
}

.NumberPlate{
    margin: 0 0 16px 0;
}

.Data{
    width: 260px;
    margin: 0 0 16px 0;
}

.Photo{
    border-radius: 0;
    width: 380px;
    margin: 0 0 40px 0;
}
