.ProfileEntity{
    width: fit-content;
    margin: 0 auto;
    padding: 15px;
    border-radius: 10px;
    background-color: darkgray;
}

.ProfileInfo{
    display: flex;
    flex-direction: row;
    width: fit-content;
    margin: 0 auto
}

.FirstAndLastName{
    display: flex;
    flex-direction: column;
    height: fit-content;
    margin: 0 0 0 40px;
}

.ProfileAvatar{
    width: fit-content;
}

.Icon{
    height: 250px;
    border-radius: 50%;
}

.FirstName , .LastName {
    color: white;
    font-size: 80px;
    margin: 0 0 0 20px;
}

.CarListProfile{
    margin: 20px 0 20px 0;
}

.CarElement{
    margin: 0 0 40px 0;
    box-shadow: 0 4px 0 rgba(0, 0, 0, .1);
}

.CarListEntity{
    display: flex;
    flex-direction: column;
}