<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/common.css" />
    <link rel="stylesheet" href="../static/css/addCarToList.css">
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <nav class="Navbar">
      <div class="NavbarContainer">
        <a href="#" class="Logo">Logo</a>
        <div class="NavbarControls">
          <!-- control buttons -->
          <ul class="Controls">
            <li class="CarListItem">
              <a href="#" class="CarListHref">Car list</a>
            </li>
            <li class="StationListItem">
              <a href="#" class="StationHref">Station List</a>
            </li>
            <li class="Profile">
              <a class="ProfileItem" href="#">Profile</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="Wrapper">
      <div class="CarEntity">
        <div class="InputLabel">
          <p class="Label">Mark</p>
        </div>
        <div class="InputFiled">
          <input type="text" class="Mark" id="mark" />
        </div>
        <div class="InputLabel">
          <p class="Label">Model</p>
        </div>
        <div class="InputFiled">
          <input type="text" class="Model" id="model" />
        </div>
        <div class="InputLabel">
          <p class="Label">Number plate</p>
        </div>
        <div class="InputFiled">
          <input type="text" class="NumberPlate" id="numberPlate" />
        </div>
        <div class="InputFiled">
          <label for="fuelType" class="FuelTypeLabel">Fuel type</label>
          <select name="fuelType" id="fuelType" class="FuelType">
            <option value="petrol">Petrol</option>
            <option value="diesel">Diesel</option>
            <option value="gasoline">Gasoline</option>
            <option value="electricity">Electricity</option>
          </select>
        </div>
        <div class="InputLabel">
          <p class="Label">Production year</p>
        </div>
        <div class="InputFiled">
          <input type="date" class="Data" />
        </div>
        <div class="InputLabel">
          <p class="Label">Photo</p>
        </div>
        <div class="InputFiled">
          <input type="file" class="Photo" />
        </div>
        <div class="InputFiled">
          <label for="SSChoise" class="SSChoiseLabel">Choose workshop</label>
          <select name="SSChoise" id="SSChoise" class="SSChoise">
            <option value="petrol">EfficientEngine Clinic</option>
            <option value="diesel">ExpressFix Garage</option>
            <option value="gasoline">iFixer</option>
          </select>
        </div>
        <div class="SubmitButton">
            <button type="button" class="btn btn-secondary btn-lg btn-block">Submit</button>
        </div>
      </div>
    </div>
  </body>
</html>
