<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/index.css">
    <link href="../static/css/common.css" rel="stylesheet" />  
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> 
  </head>
  <body>
    <!-- menu section -->
    
    <nav class="Navbar">
      <div class="NavbarContainer">
        <a href="#" class="Logo">Logo</a>
        <div class="NavbarControls">
          <!-- control buttons -->
          <ul class="Controls">
            <li class="LoginHrefListItem"><a href="http://127.0.0.1:5000/login" class="LoginHref">Login</a></li>
            <li class="RegisterHrefListItem">
              <a href="http://127.0.0.1:5000/register" class="RegisterHref">Register</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- wrapper -->
    <div class="Wrapper">         
       <div class="IndexImage">
            <img src="../static/img/indexImg.png" alt="Phone IndexImage" class="Image">
          </div>
      <div class="IndexContent">
      <div class="TextAnnotation">
        <ul class="TextAnnotationContent">
          <li class="Text">The automated car accounting system at the service station is a comprehensive solution designed for effective management and control of the car maintenance process. This system allows the service station to provide accurate accounting of each vehicle on its territory and to effectively control all stages of service.</li>
          <p></p>
          <li class="Text">Thanks to the automated accounting system, the service station can conveniently register the arrival of cars, store information about their technical condition, performed work and spent materials. Each car receives a unique identifier, which allows you to uniquely track it at each stage of service.</li>
          <p></p>
          <li class="Text">The main functions of the automated accounting system include:</li>
          <p></p>
          <li class="Text">Car registration: The system allows the station to register all arriving cars, enter the necessary information about them (make, model, year of manufacture, mileage, etc.) and assign them unique identifiers.</li>
          <p></p>
          <li class="Text">Monitoring of technical condition: The system constantly monitors the technical condition of cars, including information on used spare parts and performed work. This allows you to maintain an up-to-date database of each vehicle and respond to malfunctions or necessary repairs in a timely manner.</li>
          <p></p>
          <li class="Text">Maintenance planning: The system provides convenient tools for planning regular car maintenance. It automatically determines the need for a technical inspection, replacement of individual parts, routine maintenance and other work in accordance with established rules and regulations.</li>
          <p></p>
          <li class="Text">Statistics and reports: The system provides the ability to generate various statistical reports and analytical data on the scope of work, material consumption, service terms, etc. This helps the station to analyze the efficiency of its work, identify trends and optimize processes.</li>
          <p></p>
          <li class="Text">Integration with other systems: The system can be integrated with other automated solutions, such as spare parts management systems, financial accounting, CRM and others, to provide complete automation and data exchange.</li>
          <p></p>
          <li class="Text">An automated vehicle accounting system at a service station helps to increase work efficiency, reduce errors, and improve the quality of vehicle maintenance. It promotes optimal use of resources, provides convenient access to information and improves interaction with customers.</li>
        </ul>
      </div>
      </div>
    </div>
  </body>
</html>
