<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/dc34a53d-4772-4ab7-b7ad-007647a14e89/resourcegroups/CSharpResourceGroup/providers/Microsoft.Web/sites/mishak-c-app</ResourceId>
    <ResourceGroup>CSharpResourceGroup</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://mishak-c-app.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>370acd95-89f7-4d6c-838d-dc91609a912f</ProjectGuid>
    <PublishUrl>https://mishak-c-app.scm.azurewebsites.net/</PublishUrl>
    <UserName>$mishak-c-app</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>